<section class="relative">
  <div
    class="absolute w-full h-64 overflow-hidden bg-no-repeat bg-contain bg-image bg-center before:w-full before:h-full before:absolute before:bg-gradient-to-t from-gray-900 to-gray-500 before:opacity-40 -z-10"
    style="background-image: url('./blog.jpg');"
  >
  </div>
  <div class="container mx-auto p-4 flex flex-column items-center h-64">
    <h2
      class="font-be_vietnam_pro font-bold text-3xl lg:text-4xl uppercase text-white opacity-100"
    >
      Blog
    </h2>
  </div>
</section>
