<section
  style="background-image: url(./banner.jpg);"
  class="overflow-hidden bg-no-repeat bg-cover bg-image bg-center"
>
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-24 py-24">
    <div class="flex flex-col justify-center items-center">
      <span class="font-be_vietnam_pro text-white text-4xl font-bold mb-4">
        <span class="num" data-val="10000">0</span>&nbsp;&#13217;</span
      >
      <span class="font-be_vietnam_pro text-lg text-center text-white"
        >Estructuras<br />metálicas</span
      >
    </div>
    <div class="flex flex-col justify-center items-center">
      <span class="font-be_vietnam_pro text-white text-4xl font-bold mb-4">
        <span class="num" data-val="10000">0</span>&nbsp;&#13217;</span
      >
      <span class="font-be_vietnam_pro text-lg text-center text-white"
        >Estructuras en <br />concreto reforzado</span
      >
    </div>
    <div class="flex flex-col justify-center items-center">
      <span class="font-be_vietnam_pro text-white text-4xl font-bold mb-4">
        <span class="num" data-val="20">0</span></span
      >
      <span class="font-be_vietnam_pro text-lg text-center text-white"
        >Estructuras<br />proyectadas</span
      >
    </div>
  </div>
</section>
