<header class="top-0 z-10 bg-white shadow-sm header">
  <div class="container flex mx-auto p-6 justify-between">
    <a href="/">
      <img src="logo.svg" class="h-8" alt="intest" />
    </a>
    <a
      id="open-button"
      class="md:hidden cursor-pointer hover:text-darkblue-200 flex justify-center items-center h-8 w-8 z-11"
    >
      <span
        class="block relative h-0.5 bg-darkblue-300 w-8 after:absolute after:rounded after:w-full after:h-full after:-translate-y-2.5 after:bg-darkblue-300 before:bg-darkblue-300 before:absolute before:rounded before:w-full before:h-full before:translate-y-2.5"
      ></span>
    </a>
    <nav aria-label="main" class="hidden md:flex">
      <ul class="flex flex-row justify-end line-clamp-1">
        <li class="px-4 mr-4">
          <a
            href="/"
            class="text-center leading-8 uppercase text-darkblue-300 hover:text-darkblue-200 font-be_vietnam_pro font-semibold"
            >Inicio</a
          >
        </li>
        <li class="px-4 mr-4">
          <a
            href="#about"
            class="text-center leading-8 uppercase text-darkblue-300 hover:text-darkblue-200 font-be_vietnam_pro font-semibold"
            >Blog</a
          >
        </li>
        <li class="px-4">
          <a
            href="#contact"
            class="text-center leading-8 uppercase text-darkblue-300 hover:text-darkblue-200 font-be_vietnam_pro font-semibold"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<section
  aria-label="mobile"
  id="menu-mobile"
  class="fixed top-0 w-full bg-darkblue-300 justify-center menu z-20"
>
  <div class="flex flex-col">
    <button
      class="text-5xl cursor-pointer text-gray-300 hover:text-white self-end p-4"
      id="close-button"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
    <nav class="flex justify-center nav py-28">
      <ul class="w-full text-4xl text-center font-bold font-be_vietnam_pro">
        <li class="my-4">
          <a
            href="/"
            class="leading-8 uppercase text-gray-300 hover:text-white"
          >
            Inicio
          </a>
        </li>
        <li class="my-4">
          <a
            href="#about"
            class="leading-8 uppercase text-gray-300 hover:text-white"
          >
            Blog
          </a>
        </li>
        <li class="my-4">
          <a
            href="#contact"
            class="leading-8 uppercase text-gray-300 hover:text-white"
          >
            Contacto
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<style>
  .h-sticky {
    position: sticky;
    animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
  }

  .nav {
    height: calc(100vh - 4.25rem);
  }

  .menu {
    clip-path: circle(200px at top right);
    opacity: 0;
    visibility: hidden;
    transition: opacity 800ms 500ms, clip-path 1000ms 500ms,
      visibility 200ms 800ms;
  }

  .active {
    clip-path: circle(100% at center);
    opacity: 1;
    visibility: visible;
  }

  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
</style>
