---
---

<header class="top-0 sticky z-10 bg-white shadow-sm">
  <div class="container flex mx-auto p-6 justify-between">
    <a href="/">
      <img src="logo.svg" class="h-8" alt="intest" />
    </a>
    <nav>
      <ul class="flex flex-row justify-end">
        <li class="px-4 mr-4 text-center uppercase"><a href="/">Inicio</a></li>
        <li class="px-4 mr-4 text-center uppercase">
          <a href="#about">Sobre nosotros</a>
        </li>
        <li class="px-4 text-center uppercase">
          <a href="#contact">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
