---
interface Props {
  title: string;
  author: string;
  pubDate: Date;
  image: string;
}

const { title, author, pubDate, image } = Astro.props;
---

<article>
  <h3>{title}</h3>
  <span>{author}</span>
  <date>{pubDate}</date>
</article>
