<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 my-8">
  <div class="mb-6">
    <img src="./diseno-estructural.svg" class="h-28" />
    <h3
      class="font-be_vietnam_pro font-bold uppercase my-4 text-darkblue-300 text-xl"
    >
      Diseño estructural:
    </h3>
    <p class="font-be_vietnam_pro">
      Soluciones estructurales óptimas y de gran impacto con software de ultima
      generación para todo tipo de edificaciones, cubiertas, naves industriales
      y sistemas de contención.
    </p>
  </div>
  <div class="mb-6">
    <img src="./revision-diseno.svg" class="h-28" />
    <h3
      class="font-be_vietnam_pro font-bold uppercase my-4 text-darkblue-300 text-xl"
    >
      Revisión de diseños estructurales:
    </h3>
    <p class="font-be_vietnam_pro">
      Disposición expertos profesionales altamente calificados para la revisión
      técnica, conceptual y normativa de todos tus proyectos en donde se pueda
      garantizar la idoneidad, seguridad y eficiencia de la estructura.
    </p>
  </div>
  <div class="mb-6">
    <img src="./asesoria-inicial.svg" class="h-28" />
    <h3
      class="font-be_vietnam_pro font-bold uppercase my-4 text-darkblue-300 text-xl"
    >
      Asesoría inicial:
    </h3>
    <p class="font-be_vietnam_pro">
      Análisis, formulación y evaluación de posibles alternativas estructurales
      para tus proyectos, identificando su factibilidad, economía, seguridad,
      funcionalidad y estética.
    </p>
  </div>
  <div class="mb-6">
    <img src="./asistencia-obras.svg" class="h-28" />
    <h3
      class="font-be_vietnam_pro font-bold uppercase my-4 text-darkblue-300 text-xl"
    >
      Asistencia en obra:
    </h3>
    <p class="font-be_vietnam_pro">
      Acompañamiento integral en la construcción del proyecto, garantizando la
      buena ejecución de la obra, soluciones técnicas e ingeniería de detalle.
    </p>
  </div>
  <div class="mb-6">
    <img src="./conexion-acero.svg" class="h-28" />
    <h3
      class="font-be_vietnam_pro font-bold uppercase my-4 text-darkblue-300 text-xl"
    >
      Conexiones en acero:
    </h3>
    <p class="font-be_vietnam_pro">
      Diseño estructural de conexiones en acero para sistemas de resistencia
      sísmica acorde al AISC y la norma sísmica colombiana NSR-10.
    </p>
  </div>
  <div class="mb-6">
    <img src="./dibujo-tecnico.svg" class="h-28" />
    <h3
      class="font-be_vietnam_pro font-bold uppercase my-4 text-darkblue-300 text-xl"
    >
      Dibujo técnico y estructural:
    </h3>
    <p class="font-be_vietnam_pro">
      Desarrollo de todo tipo de planos y dibujos para los procesos
      constructivos de la estructura con altos estándares de calidad, detalle y
      experiencia.
    </p>
  </div>
</section>
